body {background-image: url("https://assets-global.website-files.com/6023fdfa97944f09d6a27ac6/627cb76bfea21361b192ba39_624e40aa14e8825704121886_B-%20Do%20Community%20Colleges%20Have%20Graduation%20Ceremonies-min.jpg");
background-size: cover;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
}
